
.blockone{position: absolute;bottom: 0.6rem;left: 0.7rem;z-index: 999999; background: #000000;opacity: 0.7;width: 6rem;height: 2rem;    border-radius: 3px;}
.blockone a{width: 2rem;height: 2rem;font-size: 1.2rem;color: #fff;margin:0;display: inline-block;    border-right: 1px solid rgba(255,255,255,0.5);text-align: center;line-height: 2rem}