@charset "utf-8";

/*
 * Copyright 2005-2016 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Password
 * Version: 5.0
 */

/* ---------- Password ---------- */

.password .wrap {
	margin-bottom: 10px;
}

.password .main {
	padding-bottom: 20px;
	border: 1px solid #d7d7d7;
}

.password .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

.password .title strong {
	padding: 0px 10px;
	color: #000;
	font-size: 16px;
	font-weight:normal;
}

.password table {
	width: 100%;
	margin-top: 20px;
}

.password th {
	width: 160px;
	padding: 12px;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
	height:30px;
}

.password .captcha {
	width: 156px;
	text-transform: uppercase;
	ime-mode: disabled;
}

.password .captchaImage {
	margin-left: 6px;
    vertical-align: middle;
    cursor: pointer;
    width: 96px;
    height: 32px;
    border: 1px solid #c9c9c7;
}

.password .submit {
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background-color:#00AAEE;
	font-size:14px;
	border-radius: 3px;
}

a.verifyCode {
    width: 92px;
    height: 34px;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    color:#fff;
    background-color:#00AAEE;
}

a.verifyCode:hover{
	background-color:#0dbcff;
}

.verificateError{
	position:relative;
}

.verificateError label{
	position:absolute;
	bottom:-19px;
	left:-4px;
}


